# View CLI test results

After running `snyk test,` a list of vulnerabilities and license issues is displayed directly from the CLI, including:

* severity
* detailed descriptions of issues
* where relevant, links to more specific details for each issue

Depending on the language of the project you have tested you may also view remediation advice, including details on how you can manually fix the vulnerability.

See also

* [Getting started with the CLI](https://support.snyk.io/hc/articles/360003812458#UUID-19fc37f2-b686-11ed-b85c-4789e90c8dfc)
* [Our full CLI reference](https://support.snyk.io/hc/articles/360003812578#UUID-c88e66cf-431c-9ab1-d388-a8f82991c6e0)
* [Manage vulnerability results with the Snyk CLI wizard](https://support.snyk.io/hc/articles/360003851357#UUID-b401cc8a-a55a-2b74-d9e5-c92dd49ed58c)
* [Authenticate the CLI with your account](https://support.snyk.io/hc/articles/360004499218#UUID-1a9a711e-0e13-7e30-10ed-8eb8fa8fd57a)
* [Troubleshoot CLI issues](https://support.snyk.io/hc/articles/360003812618#UUID-aa10318d-3714-96cb-0134-0f05d965195a)
* 
