fetcher:
    source: https://api.snyk.io/rest/openapi
    destination: docs/.gitbook/assets/rest-spec.json
specs:
- path: docs/.gitbook/assets/v1-api-spec.yaml
  suffix: " (v1)"
  docsHint: This document uses the v1 API, which will eventually be deprecated, as further Snyk developments are now focused on the REST API. For more details, see the [v1 API](../v1-api.md).
- path: docs/.gitbook/assets/rest-spec.json
  docsHint: This document uses the REST API. For more details, see the [Authentication for API](../authentication-for-api/) page.
categoryContext:
- name: dependencies-v1
  hint: |
    Dependencies are packages or modules that your Projects depend on.
    
    The rate limit is up to **150 requests per minute, per user**.
- name: import-projects-v1
  hint: |
    You can use this API to import projects into Snyk. Projects imported can be Git repositories, Docker images, containers, configuration files, and much more. See the [Projects and Targets documentation](../snyk-platform-administration/snyk-projects/#target) for more information. A typical import would start with requesting a target to be processed and then polling the Import Job API for more details on completion of an import and the resulting Snyk Projects.
- name: licenses-v1
  hint: |
    **Note:** When you import or update Projects, changes will be reflected in the endpoint results after a one-hour delay.
- name: reporting-api-v1
  hint: |
    {% hint style="warning" %}
    The endpoints in this category support only Snyk legacy reporting, not the latest release. They are not available in regions such as single-tenant or multi-tenant US02, EU, and AU; instead use the [Issues REST API](issues.md).
    {% endhint %}
    Using the Reporting API, you can find answers to questions like how many issues your Organization has, or how many tests have been conducted in a given time period.
    
    The rate limit is up to **70 requests per minute, per user**. All requests above the limit will get a response with the status code `429 - Too many requests` until requests stop for the duration of the rate-limiting interval (one minute).
- name: projects-v1
  hint: |
    **Note:** For a list of Project types, see [Project type responses from the API](../api-endpoints-index-and-tips/project-type-responses-from-the-api.md).
- name: webhooks-v1
  hint: |
    {% hint style="warning" %}
    The Webhooks API is in beta. While the API is in beta, Snyk may change the API and the structure of webhook payloads at any time, without notice. During this beta, Webhooks are available only in the Snyk US-01, US-02, EU-01, and AU-01 regions.
    {% endhint %}
- name: projects
  hint: |
    **Note:** For a list of Project types, see [Project type responses from the API](../api-endpoints-index-and-tips/project-type-responses-from-the-api.md).
output:
    summaryPath: docs/SUMMARY.md
    apiReferencePath: docs/snyk-api/reference
changelog:
    historicalVersionCutoff: "2024-05-24"
    syncStateFile:  tools/api-docs-generator/sync-state.yml
    changelogFile:  docs/snyk-api/changelog.md
