# CLI test results

After you run `snyk test,` a list of vulnerabilities and license issues is displayed directly from the CLI. The list includes:

* severity
* detailed descriptions of issues
* where relevant, links to more specific details for each issue

Depending on the language of the project you have tested you may also see fix advice, including details on how you can manually fix the vulnerability.

For more information see:\
[Snyk CLI](../)\
[Getting started with the CLI](../start-using-the-snyk-cli.md)\
[Snyk Code CLI results](../../scan-application-code/snyk-code/cli-for-snyk-code/snyk-code-cli-results.md)\
[Understanding Snyk Container CLI test results](../../scan-containers/snyk-cli-for-container-security/understanding-snyk-container-cli-results.md)\
[Understanding the IaC CLI test output](../../scan-cloud-configurations/snyk-infrastructure-as-code/snyk-cli-for-infrastructure-as-code/understanding-the-cli-test-output/)
