# Working with Kubernetes configuration file test results

Once you've imported your cloud configuration file to Snyk, Snyk continuously monitors the repository for any related changes, re-testing your file at regular intervals based on the configurations in your settings. Recommendations are based on the relevant settings that [your administrator configures and manages](https://docs.snyk.io/user-docs/snyk-infrastructure-as-code/scan-kubernetes-configuration-files/configure-integration-for-security-issues-in-kubernetes-configuration-files).

Click the project link to view test results and resolve any misconfigurations that may pose security issues.

The results page appears similar to the following:

![](../../../.gitbook/assets/uuid-ab412f8f-32f3-ab39-4615-1a45f42e7d0f-en.png)

