openapi: 3.0.0
info:
  title: Snyk API
  contact: {}
  version: '1.0'
  description: Snyk V1 API
servers:
  - url: https://api.snyk.io/v1
    variables: {}
paths:
  /user/{userId}:
    get:
      tags:
        - Users
      summary: Get User Details
      description: Retrieves information about a user.
      operationId: GetUserDetails
      parameters:
        - name: userId
          in: path
          description: The users ID. The `API_KEY` must have admin access to at least one group or organization where the requested user is a member and must have the `api` entitlement on their preferred organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GetUserDetailsresponse'
                  - example:
                      id: ''
                      name: ''
                      username: ''
                      email: ''
        '400':
          description: The provided `id` is not in a valid format.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: The provided `id` is not in a valid format.
                example: {}
              example: {}
        '401':
          description: '`API_KEY` is invalid.'
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: '`API_KEY` is invalid.'
                example: {}
              example: {}
        '404':
          description: The requested user could not be found or caller does not have sufficient permissions.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: The requested user could not be found or caller does not have sufficient permissions.
                example: {}
              example: {}
      deprecated: false
  /user/me:
    get:
      tags:
        - Users
      summary: Get My Details
      description: Retrieves information about the the user making the request.
      operationId: GetMyDetails
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GetMyDetailsresponse'
                  - example:
                      id: ''
                      username: ''
                      email: ''
                      orgs: []
        '401':
          description: '`API_KEY` is invalid.'
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: '`API_KEY` is invalid.'
                example: {}
              example: {}
      deprecated: false
  /user/me/notification-settings/org/{orgId}:
    get:
      tags:
        - Users
      summary: Get organization notification settings
      description: The organization notification settings for the user that will determine which emails are sent.
      operationId: Getorganizationnotificationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Notificationsettingsresponse'
                  - example:
                      new-issues-remediations:
                        enabled: true
                        issueSeverity: high
                        issueType: vuln
                        inherited: false
                      project-imported:
                        enabled: true
                        inherited: false
                      test-limit:
                        enabled: true
                        inherited: false
                      weekly-report:
                        enabled: true
                        inherited: false
              example:
                new-issues-remediations:
                  enabled: true
                  issueSeverity: high
                  issueType: vuln
                  inherited: false
                project-imported:
                  enabled: true
                  inherited: false
                test-limit:
                  enabled: true
                  inherited: false
                weekly-report:
                  enabled: true
                  inherited: false
      deprecated: false
    put:
      tags:
        - Users
      summary: Modify organization notification settings
      description: The organization notification settings for the user that will determine which emails are sent.
      operationId: Modifyorganizationnotificationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Notificationsettingsrequest'
                - example:
                    new-issues-remediations:
                      enabled: true
                      issueSeverity: high
                      issueType: vuln
                    project-imported:
                      enabled: true
                    test-limit:
                      enabled: true
                    weekly-report:
                      enabled: true
            example:
              new-issues-remediations:
                enabled: true
                issueSeverity: high
                issueType: vuln
              project-imported:
                enabled: true
              test-limit:
                enabled: true
              weekly-report:
                enabled: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Notificationsettingsresponse'
                  - example:
                      new-issues-remediations:
                        enabled: true
                        issueSeverity: high
                        issueType: vuln
                        inherited: false
                      project-imported:
                        enabled: true
                        inherited: false
                      test-limit:
                        enabled: true
                        inherited: false
                      weekly-report:
                        enabled: true
                        inherited: false
              example:
                new-issues-remediations:
                  enabled: true
                  issueSeverity: high
                  issueType: vuln
                  inherited: false
                project-imported:
                  enabled: true
                  inherited: false
                test-limit:
                  enabled: true
                  inherited: false
                weekly-report:
                  enabled: true
                  inherited: false
      deprecated: false
  /user/me/notification-settings/org/{orgId}/project/{projectId}:
    get:
      tags:
        - Users
      summary: Get project notification settings
      description: The project notification settings for the user that will determine which emails are sent.
      operationId: Getprojectnotificationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID to return notification settings for.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Notificationsettingsresponse'
                  - example:
                      new-issues-remediations:
                        enabled: true
                        issueSeverity: high
                        issueType: vuln
                        inherited: false
                      project-imported:
                        enabled: true
                        inherited: false
                      test-limit:
                        enabled: true
                        inherited: false
                      weekly-report:
                        enabled: true
                        inherited: false
              example:
                new-issues-remediations:
                  enabled: true
                  issueSeverity: high
                  issueType: vuln
                  inherited: false
                project-imported:
                  enabled: true
                  inherited: false
                test-limit:
                  enabled: true
                  inherited: false
                weekly-report:
                  enabled: true
                  inherited: false
      deprecated: false
    put:
      tags:
        - Users
      summary: Modify project notification settings
      description: The project notification settings for the user that will determine which emails are sent.
      operationId: Modifyprojectnotificationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID to return notification settings for.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Modifyprojectnotificationsettingsrequest'
                - example:
                    new-issues-remediations:
                      enabled: true
                      issueSeverity: high
                      issueType: vuln
            example:
              new-issues-remediations:
                enabled: true
                issueSeverity: high
                issueType: vuln
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /group/{groupId}/settings:
    get:
      tags:
        - Groups
      summary: View group settings
      description: ''
      operationId: Viewgroupsettings
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have admin access to this group.
          required: true
          style: simple
          schema:
            type: string
            example: b61bc07c-27c6-42b3-8b04-0f228ed31a67
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groupsettings'
      deprecated: false
    put:
      tags:
        - Groups
      summary: Update group settings
      description: ''
      operationId: Updategroupsettings
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have admin access to this group.
          required: true
          style: simple
          schema:
            type: string
            example: b61bc07c-27c6-42b3-8b04-0f228ed31a67
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Groupsettings'
                - example:
                    sessionLength: 50
                    requestAccess:
                      enabled: true
            example:
              sessionLength: 50
              requestAccess:
                enabled: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Groupsettings'
                  - example:
                      sessionLength: 50
                      requestAccess:
                        enabled: true
              example:
                sessionLength: 50
                requestAccess:
                  enabled: true
      deprecated: false
  /group/{groupId}/members:
    get:
      tags:
        - Groups
      summary: List all members in a group
      description: '> **Note**: Requests to this endpoint are limited to one per minute. Additional requests within this time will receive a `429 Too Many Requests` response.'
      operationId: Listallmembersinagroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have access admin to this group.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listallmembersinagroupresponse'
                description: ''
                example:
                  - id: ''
                    name: ''
                    username: ''
                    email: ''
                    orgs:
                      - name: ''
                        role: ''
                    groupRole: ''
              example:
                - id: ''
                  name: ''
                  username: ''
                  email: ''
                  orgs:
                    - name: ''
                      role: ''
                  groupRole: ''
      deprecated: false
  /group/{groupId}/org/{orgId}/members:
    post:
      tags:
        - Groups
      summary: Add a member to an organization within a group
      description: ''
      operationId: Addamembertoanorganizationwithinagroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have access admin to this group.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: orgId
          in: path
          description: The organization ID we want to add the member to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Addmemberbody'
                - example:
                    userId: ''
                    role: ''
            example:
              userId: ''
              role: ''
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /group/{groupId}/tags:
    get:
      tags:
        - Groups
      summary: List all tags in a group
      description: ''
      operationId: Listalltagsinagroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have access admin to this group.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: perPage
          in: query
          description: The number of results to return (the default is 1000).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: page
          in: query
          description: The offset from which to start returning results from.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 1
        
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.snyk.io/v1/group/4a18d42f-0706-4ad0-b127-24078731fbed/tags?page=3&perPage=10>; rel=last, <https://api.snyk.io/v1/group/4a18d42f-0706-4ad0-b127-24078731fbed/tags?page=2&perPage=10>; rel=next
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Listalltagsinagroupresponse'
                  - example:
                      tags:
                        - key: meta
                          value: Alfa
                        - key: meta
                          value: Bravo
                        - key: meta
                          value: Charlie
                        - key: meta
                          value: Delta
                        - key: meta
                          value: Echo
                        - key: meta
                          value: Foxtrot
                        - key: meta
                          value: Golf
                        - key: meta
                          value: Hotel
                        - key: meta
                          value: India
                        - key: meta
                          value: Juliet
              example:
                tags:
                  - key: meta
                    value: Alfa
                  - key: meta
                    value: Bravo
                  - key: meta
                    value: Charlie
                  - key: meta
                    value: Delta
                  - key: meta
                    value: Echo
                  - key: meta
                    value: Foxtrot
                  - key: meta
                    value: Golf
                  - key: meta
                    value: Hotel
                  - key: meta
                    value: India
                  - key: meta
                    value: Juliet
      deprecated: false
  /group/{groupId}/tags/delete:
    post:
      tags:
        - Groups
      summary: Delete tag from group
      description: ''
      operationId: Deletetagfromgroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have access admin to this group.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Deletetagbody'
                - example:
                    key: ''
                    value: ''
                    force: false
            example:
              key: ''
              value: ''
              force: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Deletetagbody'
                  - example:
                      key: ''
                      value: ''
                      force: false
              example:
                key: ''
                value: ''
                force: false
      deprecated: false
  /group/{groupId}/orgs:
    get:
      tags:
        - Groups
      summary: List all organizations in a group
      description: ''
      operationId: Listallorganizationsinagroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have READ access to this group and LIST organizations access in this group.
          required: true
          style: simple
          schema:
            type: string
            example: a060a49f-636e-480f-9e14-38e773b2a97f
        - name: perPage
          in: query
          description: The number of results to return (maximum is 100).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 100
        - name: page
          in: query
          description: For pagination - offset (from which to start returning results).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 1
        - name: name
          in: query
          description: Only organizations that have a name that **starts with** this value (case insensitive) will be returned.
          style: form
          explode: true
          schema:
            type: string
            example: my
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Listallorganizationsinagroupresponse'
                  - example:
                      id: a060a49f-636e-480f-9e14-38e773b2a97f
                      name: ACME Inc.
                      url: https://api.snyk.io/v1/group/0dfc509a-e7a9-48ef-9d39-649d6468fc09
                      created: 2021-06-07T00:00:00.000Z
                      orgs:
                        - name: myDefaultOrg
                          id: 689ce7f9-7943-4a71-b704-2ba575f01089
                          slug: my-default-org
                          url: https://api.snyk.io/v1/org/default-org
                          created: 2021-06-07T00:00:00.000Z
                        - name: My Other Org
                          id: a04d9cbd-ae6e-44af-b573-0556b0ad4bd2
                          slug: my-other-org
                          url: https://api.snyk.io/v1/org/my-other-org
                          created: 2021-06-07T00:00:00.000Z
      deprecated: false
  /group/{groupId}/roles:
    get:
      tags:
        - Groups
      summary: List all roles in a group
      description: ''
      operationId: Listallrolesinagroup
      parameters:
        - name: groupId
          in: path
          description: The group ID. The `API_KEY` must have READ access to this group.
          required: true
          style: simple
          schema:
            type: string
            example: a060a49f-636e-480f-9e14-38e773b2a97f
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listallrolesinagroupresponse'
                description: ''
                example:
                  - name: Org Collaborator
                    description: Collaborator
                    publicId: 6525b356-a400-465f-b2e5-3eee1161e69f
                    created: 2021-04-22T16:02:53.233Z
                    modified: 2021-04-22T16:02:53.332Z
                  - name: Org Admin
                    description: Admin
                    publicId: af047fef-69f3-4bd9-9760-8957ce0d2ece
                    created: 2021-04-22T16:02:53.233Z
                    modified: 2021-04-22T16:02:53.332Z
              example:
                - name: Org Collaborator
                  description: Collaborator
                  publicId: 6525b356-a400-465f-b2e5-3eee1161e69f
                  created: 2021-04-22T16:02:53.233Z
                  modified: 2021-04-22T16:02:53.332Z
                - name: Org Admin
                  description: Admin
                  publicId: af047fef-69f3-4bd9-9760-8957ce0d2ece
                  created: 2021-04-22T16:02:53.233Z
                  modified: 2021-04-22T16:02:53.332Z
      deprecated: false
  /orgs:
    get:
      tags:
        - Organizations
      summary: List all the organizations a user belongs to
      description: >-
        Each request to Snyk has to be done in the context of a Snyk organization. If no organization is specified, the user's default organization (user is identified according to the `API_KEY`) will be used.

        The organization determines the access rights, licenses policy and is the unit of billing for private projects.

        An organization should be given as a query parameter named `org`, with the public identifier given to this org. The list of organizations and their corresponding public ids can be found with the organization resource

        #### Required permissions

        - `View Organization`
      operationId: Listalltheorganizationsauserbelongsto        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listalltheorganizationsauserbelongstoresponse'
      deprecated: false
  /org:
    post:
      tags:
        - Organizations
      summary: Create a new organization
      description: An organization can be created as part of a group, or independently. If the **groupId** is not provided, a **Personal Org** will be created independent of a group.
      operationId: Createaneworganization
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Createorganizationsbody'
                - example:
                    name: new-org
                    groupId: 4a18d42f-0706-4ad0-b127-24078731fbed
                    sourceOrgId: 6b4a3261-b68f-43a0-9218-1f082e77f879
            example:
              name: new-org
              groupId: 4a18d42f-0706-4ad0-b127-24078731fbed
              sourceOrgId: 6b4a3261-b68f-43a0-9218-1f082e77f879
        required: true
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Createaneworganizationresponse'
                  - example:
                      id: 0356f641-c55c-488f-af05-c2122590f369
                      name: new-org
                      slug: new-org
                      url: https://api.snyk.io/v1/org/new-org
                      created: 2021-01-07T16:07:16.237Z
                      group:
                        name: test-group
                        id: 4a18d42f-0706-4ad0-b127-24078731fbed
        '401':
          description: Authorization errors.
          headers: {}
          content:
            application/json, charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Createaneworganizationresponse1'
                  - description: Authorization errors.
                    example:
                      message: You must have the required permissions to add an org
                      errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
              example:
                message: You must have the required permissions to add an org
                errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
        '400':
          description: A group of errors that happened in the process of creating a new organization and were unexpected
          headers: {}
          content:
            application/json, charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Createaneworganizationresponse1'
                  - description: A group of errors that happened in the process of creating a new organization and were unexpected
                    example:
                      message: Unexpected error whilst deleting org
                      errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
              example:
                message: Unexpected error whilst deleting org
                errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
        '422':
          description: A group of errors that show input errors about the parameters provided in the request.
          headers: {}
          content:
            application/json, charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Createaneworganizationresponse1'
                  - description: A group of errors that show input errors about the parameters provided in the request.
                    example:
                      message: Please provide a new organization name in the body of the request
                      errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
              example:
                message: Please provide a new organization name in the body of the request
                errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
      deprecated: false
  /org/{orgId}/notification-settings:
    get:
      tags:
        - Organizations
      summary: Get organization notification settings
      description: >-
        Manage the default settings for organization notifications. These will be used as defaults, but can be re-defined by organization members

        #### Required permissions


        - `View Organization`
      operationId: Getorganizationnotificationsettings1
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Notificationsettingsresponse'
                  - example:
                      new-issues-remediations:
                        enabled: true
                        issueSeverity: high
                        issueType: vuln
                        inherited: false
                      project-imported:
                        enabled: true
                        inherited: false
                      test-limit:
                        enabled: true
                        inherited: false
                      weekly-report:
                        enabled: true
                        inherited: false
              example:
                new-issues-remediations:
                  enabled: true
                  issueSeverity: high
                  issueType: vuln
                  inherited: false
                project-imported:
                  enabled: true
                  inherited: false
                test-limit:
                  enabled: true
                  inherited: false
                weekly-report:
                  enabled: true
                  inherited: false
      deprecated: false
    put:
      tags:
        - Organizations
      summary: Set notification settings
      description: >-
        Manage the default settings for organization notifications. These will be used as defaults, but can be re-defined by organization members

        #### Required permissions


        - `View Organization`


        - `Edit Organization`
      operationId: Setnotificationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Notificationsettingsrequest'
                - example:
                    new-issues-remediations:
                      enabled: true
                      issueSeverity: high
                      issueType: vuln
                    project-imported:
                      enabled: true
                    test-limit:
                      enabled: true
                    weekly-report:
                      enabled: true
            example:
              new-issues-remediations:
                enabled: true
                issueSeverity: high
                issueType: vuln
              project-imported:
                enabled: true
              test-limit:
                enabled: true
              weekly-report:
                enabled: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Notificationsettingsresponse'
                  - example:
                      new-issues-remediations:
                        enabled: true
                        issueSeverity: high
                        issueType: vuln
                        inherited: false
                      project-imported:
                        enabled: true
                        inherited: false
                      test-limit:
                        enabled: true
                        inherited: false
                      weekly-report:
                        enabled: true
                        inherited: false
              example:
                new-issues-remediations:
                  enabled: true
                  issueSeverity: high
                  issueType: vuln
                  inherited: false
                project-imported:
                  enabled: true
                  inherited: false
                test-limit:
                  enabled: true
                  inherited: false
                weekly-report:
                  enabled: true
                  inherited: false
      deprecated: false
  /org/{orgId}/invite:
    post:
      tags:
        - Organizations
      summary: Invite users
      description: >-
        Invite users to the organization by email

        #### Required permissions


        - `View Organization`


        - `View Users`


        - `Invite Users`
      operationId: Inviteusers
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Inviteusersrequest'
                - example:
                    email: ''
            example:
              email: ''
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/members:
    get:
      tags:
        - Organizations
      summary: List Members
      description: >-
        Manage members in your organization

        #### Required permissions


        - `View Organization`


        - `View Users`
      operationId: ListMembers
      parameters:
        - name: orgId
          in: path
          description: The organization ID.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: includeGroupAdmins
          in: query
          description: Include group administrators who also have access to this organization.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListMembersresponse'
                description: ''
                example:
                  - id: ''
                    name: ''
                    username: ''
                    email: ''
                    role: ''
              example:
                - id: ''
                  name: ''
                  username: ''
                  email: ''
                  role: ''
      deprecated: false
  /org/{orgId}/settings:
    get:
      tags:
        - Organizations
      summary: View organization settings
      description: >-
        #### Required permissions


        - `View Organization`
      operationId: Vieworganizationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 25065eb1-109c-4c3e-9503-68fc56ef6f44
        
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Orgsettingsresponse'
                  - example:
                      requestAccess:
                        enabled: true
                      ignores:
                        reasonRequired: false
                        autoApproveIgnores: false
              example:
                requestAccess:
                  enabled: true
                ignores:
                  reasonRequired: false
                  autoApproveIgnores: false
      deprecated: false
    put:
      tags:
        - Organizations
      summary: Update organization settings
      description: >-
        Settings that are not provided will not be modified.


        #### Required permissions


        - `View Organization`


        - `Edit Organization`
      operationId: Updateorganizationsettings
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 25065eb1-109c-4c3e-9503-68fc56ef6f44
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: string
              example: + Attributes (Org settings request)
            example: + Attributes (Org settings request)
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Orgsettingsresponse'
                  - example:
                      requestAccess:
                        enabled: true
              example:
                requestAccess:
                  enabled: true
        '403':
          description: If provided a setting that the `API_KEY` has no edit permission for.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: If provided a setting that the `API_KEY` has no edit permission for.
      deprecated: false
  /org/{orgId}/members/{userId}:
    put:
      tags:
        - Organizations
      summary: Update a member in the organization
      description: >-
        Manage member's roles in your organization

        #### Required permissions


        - `Manage Users`
      operationId: Updateamemberintheorganization
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: userId
          in: path
          description: The user ID.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Updateamemberintheorganizationrequest'
                - example:
                    role: ''
            example:
              role: ''
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
    delete:
      tags:
        - Organizations
      summary: Remove a member from the organization
      description: >-
        Manage member's roles in your organization

        #### Required permissions


        - `View Organization`


        - `View Users`


        - `User Remove`
      operationId: Removeamemberfromtheorganization
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must admin have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: userId
          in: path
          description: The user ID we want to remove.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/members/update/{userId}:
    put:
      tags:
        - Organizations
      summary: Update a member's role in the organization
      description: >-
        Update member's role in your organization by role publicId

        #### Required permissions


        - `Manage Users`
      operationId: Updateamember'sroleintheorganization
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: userId
          in: path
          description: The user ID.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Updateamembersroleintheorganizationrequest'
                - example:
                    rolePublicId: ''
            example:
              rolePublicId: ''
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}:
    delete:
      tags:
        - Organizations
      summary: Remove organization
      description: >-
        #### Required permissions


        - `View Organization`


        - `Remove Organization`
      operationId: Removeorganization
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have permission to delete the provided organization. Currently this operation is only supported for organizations without any projects.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        
      responses:
        '204':
          description: ''
          headers: {}
          content: {}
      deprecated: false

  /org/{orgId}/provision:
    post:
      tags:
        - Organizations
      summary: Provision a user to the organization
      description: >-
        This endpoint allows Snyk Admins to provision user access to Snyk Orgs prior to the user login to the Snyk platform, and does not send out invitation emails to the Snyk platform. When the provisioned user logs into Snyk for the first time, the user will automatically be granted the appropriate Snyk org access and role permissions specified in the API call. This endpoint can be called multiple times to provision a user to multiple Snyk orgs. The API token used requires Org Admin permisisons, and must be part of a Snyk group with a valid SSO connection.  Service accounts are restricted from invoking this API. As this endpoint can only be used to provision new users, if a user has already logged into Snyk, this endpoint will not work to provision user access

        #### Required permissions

        - `Provision User`
      operationId: Provisionausertotheorganization
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must not exceed the permissions being granted to the provisioned user.
          required: true
          style: simple
          schema:
            type: string
            example: 25065eb1-109c-4c3e-9503-68fc56ef6f44
      requestBody:
        description: 'Details for user to be provisioned'
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The email of the user.
                  example: 'example@snyk.io'
                rolePublicId:
                  type: string
                  description: ID of the role to grant this user.
                  example: ''
                role: 
                  type: string
                  description: Deprecated. Name of the role to grant this user. Must be one of `ADMIN`, `COLLABORATOR`, or `RESTRICTED_COLLABORATOR`. This field is invalid if `rolePublicId` is supplied with the request.
                  example: ''
              required: 
                - email
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: The email of the user.
                    example: ''
                  role:
                    type: string
                    description: Name of the role granted for this user.
                    example: ''
                  rolePublicId:
                    type: string
                    description: ID of the role to granted for this user.
                    example: ''
                  created:
                    type: string
                    description: Timestamp of when this provision record was created.
                    example: ''
        '403':
          description: Provided `API_KEY` has no user provision permission or does not have permissions in role being provisioned.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: Provided `API_KEY` has no user provision permission or does not have permissions in role being provisioned.
      deprecated: false
    get:
      tags:
        - Organizations
      summary: List pending user provisions
      description: >-
        This endpoint allows Snyk Admins to provision user access to Snyk Orgs prior to the user login to the Snyk platform, and does not send out invitation emails to the Snyk platform. When the provisioned user logs into Snyk for the first time, the user will automatically be granted the appropriate Snyk org access and role permissions specified in the API call. This endpoint can be called multiple times to provision a user to multiple Snyk orgs. The API token used requires Org Admin permisisons, and must be part of a Snyk group with a valid SSO connection.  Service accounts are restricted from invoking this API. As this endpoint can only be used to provision new users, if a user has already logged into Snyk, this endpoint will not work to provision user access

        #### Required permissions

        - `Provision User`
      operationId: Listpendinguserprovisions
      parameters:
        - name: orgId
          in: path
          description: The organization ID.
          required: true
          style: simple
          schema:
            type: string
            example: 25065eb1-109c-4c3e-9503-68fc56ef6f44
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listpendinguserprovisionsresponse'
                description: ''
        '403':
          description: Provided `API_KEY` has no user provision permission or does not have permissions in role being provisioned.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: Provided `API_KEY` has no user provision permission or does not have permissions in role being provisioned.
      deprecated: false
    delete:
      tags:
        - Organizations
      summary: Delete pending user provision
      description: >-
        This endpoint allows Snyk Admins to provision user access to Snyk Orgs prior to the user login to the Snyk platform, and does not send out invitation emails to the Snyk platform. When the provisioned user logs into Snyk for the first time, the user will automatically be granted the appropriate Snyk org access and role permissions specified in the API call. This endpoint can be called multiple times to provision a user to multiple Snyk orgs. The API token used requires Org Admin permisisons, and must be part of a Snyk group with a valid SSO connection.  Service accounts are restricted from invoking this API. As this endpoint can only be used to provision new users, if a user has already logged into Snyk, this endpoint will not work to provision user access

        #### Required permissions

        - `Provision User`
      operationId: Deletependinguserprovision
      parameters:
        - name: orgId
          in: path
          description: The organization ID.
          required: true
          style: simple
          schema:
            type: string
            example: 25065eb1-109c-4c3e-9503-68fc56ef6f44
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Deletion succeeded.
                    example: false
        '403':
          description: Provided `API_KEY` has no user provision permission or does not have permissions in role being provisioned.
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/integrations:
    get:
      tags:
        - Integrations
      summary: List
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Integrations`
      operationId: List
      parameters:
        - name: orgId
          in: path
          description: The organization public ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  github:
                    type: string
                  gitlab:
                    type: string
                  bitbucket-cloud:
                    type: string
              example:
                github: 9a3e5d90-b782-468a-a042-9a2073736f0b
                gitlab: 1b3e3d90-c678-347a-n232-6a3453738h1e
                bitbucket-cloud: 6jje4c92-e7rn-t59a-f456-8n5675432fe9
      deprecated: false
    post:
      tags:
        - Integrations
      summary: Add new integration
      description: >-
        Add new integration for given organization.

        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Addnewintegration
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AddNewIntegrationWithCredentialsRequest'
                - $ref: '#/components/schemas/AddNewIntegrationWithBrokerRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addnewintegrationresponse'
              example:
                id: 9a3e5d90-b782-468a-a042-9a2073736f0b
      deprecated: false
  /org/{orgId}/integrations/{integrationId}:
    put:
      tags:
        - Integrations
      summary: Update existing integration
      description: >-
        - Update integration’s credentials for given organization. Integration must be **not brokered**

        - Enable or disable brokered integration for given organization. *Credentials required for disabling brokered integration*

        Examples:

        - [Set up a broker for an existing integration](https://docs.snyk.io/snyk-api/api-endpoints-index-and-tips/examples-for-the-update-existing-integration-endpoint#set-up-broker-for-an-existing-integration)

        - [Update credentials for an existing non-brokered integration](https://docs.snyk.io/snyk-api/api-endpoints-index-and-tips/examples-for-the-update-existing-integration-endpoint#update-credentials-for-an-existing-non-brokered-integration)
        
        - [Disable broker for an existing integration](https://docs.snyk.io/snyk-api/api-endpoints-index-and-tips/examples-for-the-update-existing-integration-endpoint#disable-broker-for-an-existing-integration)

        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Updateexistingintegration
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The unique identifier for the configured integration. This can be found on the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) for all integrations that have been configured.
          required: true
          style: simple
          schema:
            type: string
            example: 9a3e5d90-b782-468a-a042-9a2073736f0b
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Updateexistingintegrationrequest'
                - $ref: '#/components/schemas/Updateexistingintegrationrequest1'
                - $ref: '#/components/schemas/Updateexistingintegrationrequest2'
            examples:
              setupExistingIntegration:
                summary: Set up a broker for an existing integration
                value:
                  type: github
                  broker:
                    enabled: true
              updateCredentials:
                summary: Update credentials for an existing non-brokered integration
                value:
                  type: gitlab
                  credentials:
                    token: GITLAB_TOKEN
              disableBroker:
                summary: Disable broker for an existing integration
                value:
                  type: github
                  broker:
                    enabled: false
                  credentials:
                    token: GITHUB_TOKEN
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Updateexistingintegrationresponse'
                  - example:
                      id: 9a3e5d90-b782-468a-a042-9a2073736f0b
                      brokerToken: 4a18d42f-0706-4ad0-b127-24078731fbed
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/authentication:
    delete:
      tags:
        - Integrations
      summary: Delete credentials
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`

        Removes any credentials set for this integration. If this is a brokered connection the operation will have no effect.
      operationId: Deletecredentials
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The integration ID.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/authentication/provision-token:
    post:
      tags:
        - Integrations
      summary: Provision new broker token
      description: >-
        Issue a new and unique provisional broker token for the brokered integration.

        Used for zero down-time token rotation with the Snyk Broker. Once provisioned, the token can be used to initialize a new broker client before using the switch API to update the token in use by the integration.

        The new provisional token will fail to be created if the integration, or any other integration in the same group, already has one provisioned.

        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Provisionnewbrokertoken
      parameters:
        - name: orgId
          in: path
          description: The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provisionnewbrokertokenresponse'
              example:
                id: 9a3e5d90-b782-468a-a042-9a2073736f0b
                provisionalBrokerToken: 4a18d42f-0706-4ad0-b127-24078731fbed
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/authentication/switch-token:
    post:
      tags:
        - Integrations
      summary: Switch between broker tokens
      description: >-
        Switch the existing broker token with the provisioned token for this integration and any other in the same group.

        Only perform this action when you have a Broker client running with the provisioned token.

        This action will fail if there is no token provisioned for this integration or any integration in the same group.

        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Switchbetweenbrokertokens
      parameters:
        - name: orgId
          in: path
          description: The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/clone:
    post:
      tags:
        - Integrations
      summary: Clone an integration (with settings and credentials)
      description: >-
        Clone an integration, including all of its settings and credentials from one organization to another organization in the same group.

        This API supports both brokered and non-brokered integrations.

        Use this API for when you want to share a Broker token between several Snyk organizations (integrations).

        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Cloneanintegration(withsettingsandcredentials)
      parameters:
        - name: orgId
          in: path
          description: Source organization public ID to clone integration settings from. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: Source integration public ID to clone.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloneanintegrationwithsettingsandcredentialsrequest'
            example:
              destinationOrgPublicId: 9a3e5d90-b782-468a-a042-9a2073736f0b1
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloneanintegrationwithsettingsandcredentialsresponse'
              example:
                newIntegrationId: 9a3e5d90-b782-468a-a042-9a2073736f0b
      deprecated: false
  /org/{orgId}/integrations/{type}:
    get:
      tags:
        - Integrations
      summary: Get existing integration by type
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Integrations`
      operationId: Getexistingintegrationbytype
      parameters:
        - name: orgId
          in: path
          description: The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: type
          in: path
          description: Integration type.
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/IntegrationType'
          example: github
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Getexistingintegrationbytyperesponse'
              example:
                id: 9a3e5d90-b782-468a-a042-9a2073736f0b
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/settings:
    get:
      tags:
        - Integrations
      summary: Get Integration Settings
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Integrations`
      operationId: Retrieve
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The unique identifier for the configured integration. This can be found on the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) for all integrations that have been configured.
          required: true
          style: simple
          schema:
            type: string
            example: 9a3e5d90-b782-468a-a042-9a2073736f0b
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrationsettings'
      deprecated: false
    put:
      tags:
        - Integrations
      summary: Update Integration Settings
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Integrations`

        - `Edit Integrations`
      operationId: Update
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The unique identifier for the configured integration. This can be found on the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) for all integrations that have been configured.
          required: true
          style: simple
          schema:
            type: string
            example: 9a3e5d90-b782-468a-a042-9a2073736f0b
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integrationsettings'
            example:
              autoDepUpgradeLimit: 2
              autoDepUpgradeIgnoredDependencies: []
              autoDepUpgradeEnabled: false
              autoDepUpgradeMinAge: 21
              pullRequestTestEnabled: true
              pullRequestFailOnAnyVulns: false
              pullRequestFailOnlyForHighSeverity: true
              pullRequestAssignment: '{"enabled":true,"type":"manual","assignees":["username"]}'
              autoRemediationPrs:
                backlogPrsEnabled: false
                backlogPrStrategy: vuln
                freshPrsEnabled: true
                usePatchRemediation: false
              manualRemediationPrs:
                useManualPatchRemediation: false
              dockerfileSCMEnabled: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrationsettings'
              example:
                autoDepUpgradeLimit: 2
                autoDepUpgradeIgnoredDependencies: []
                autoDepUpgradeEnabled: false
                autoDepUpgradeMinAge: 21
                pullRequestTestEnabled: true
                pullRequestFailOnAnyVulns: false
                pullRequestFailOnlyForHighSeverity: true
                pullRequestAssignment: '{"enabled":true,"type":"manual","assignees":["username"]}'
                autoRemediationPrs:
                  backlogPrsEnabled: false
                  backlogPrStrategy: vuln
                  freshPrsEnabled: true
                  usePatchRemediation: false
                manualRemediationPrs:
                  useManualPatchRemediation: false
                dockerfileSCMEnabled: true
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/import:
    post:
      tags:
        - Import Projects
      summary: Import targets
      description: Request a [target](https://docs.snyk.io/getting-started/introduction-to-snyk-projects#targets) to be analyzed for supported Snyk projects via a configured [integration](https://docs.snyk.io/integrations). See the [Integrations API](https://docs.snyk.io/snyk-api/reference/integrations-v1) to configure a new integration.
      operationId: Importtargets
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The unique identifier for the configured integration. This can be found on the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) for all integrations that have been configured.
          required: true
          style: simple
          schema:
            type: string
            example: 9a3e5d90-b782-468a-a042-9a2073736f0b
      requestBody:
        description: 'Note: Importing targets through a Github (Cloud) integration requires the use of a [Snyk personal access/api token](https://app.snyk.io/account).'
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/GithubAndGithubEnterpriseImportRequest'
                - $ref: '#/components/schemas/AzureReposImportRequest'
                - $ref: '#/components/schemas/GitLabImportRequest'
                - $ref: '#/components/schemas/BitbucketCloudImportRequest'
                - $ref: '#/components/schemas/BitbucketServerImportRequest'
                - $ref: '#/components/schemas/HerokoImportRequest'
                - $ref: '#/components/schemas/AWSLambdaImportRequest'
                - $ref: '#/components/schemas/CloudFoundryPivotalIBMCloudImportRequest'
                - $ref: '#/components/schemas/DockerHubImportRequest'
                - $ref: '#/components/schemas/AzureCRElasticCRArtifactoryCRNexusImportRequest'
                - $ref: '#/components/schemas/GoogleCRGoogleARHarborDigitalOceanCRQuayGitlabCRGithubCRImportRequest'
        required: true
      responses:
        '201':
          description: ''
          headers:
            Location:
              schema:
                type: string
              example: URL for the status API call of the import
          content: {}
      deprecated: false
  /org/{orgId}/integrations/{integrationId}/import/{jobId}:
    get:
      tags:
        - Import Projects
      summary: Get import job details
      description: 'Get import job details'
      operationId: Getimportjobdetails
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have admin access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: integrationId
          in: path
          description: The unique identifier for the configured integration. This can be found on the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) for all integrations that have been configured.
          required: true
          style: simple
          schema:
            type: string
            example: 9a3e5d90-b782-468a-a042-9a2073736f0b
        - name: jobId
          in: path
          description: The ID of the job. This can be found in the Location response header from the corresponding POST request that triggered the import job.
          required: true
          style: simple
          schema:
            type: string
            example: 1a325d9d-b782-468a-a242-9a2073734f0b
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Getimportjobdetailsresponse'
              example:
                id: dce061f7-ce0f-4ccf-b49b-4335d1205bd9
                status: pending
                created: 2018-07-23T15:21:10.611Z
                logs:
                  - name: org1/repo1
                    created: 2018-07-23T15:21:10.643Z
                    status: failed
                    projects: []
                  - name: org2/repo2
                    created: 2018-07-23T15:21:10.644Z
                    status: complete
                    projects:
                      - targetFile: package.json
                        success: true
                        projectUrl: https://api.snyk.io/v1/org/org-name/project/7eeaee25-5f9b-4d05-8818-4cca2c9d9adc
                  - name: org3/repo3
                    created: 2018-07-23T15:21:10.643Z
                    status: pending
                    projects:
                      - targetFile: package.json
                        success: true
                        projectUrl: https://api.snyk.io/v1/org/org-name/project/0382897c-0617-4429-86df-51187dfd42f6
      deprecated: false

  /org/{orgId}/project/{projectId}:
    get:
      tags:
        - Projects
      summary: Retrieve a single project
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `View Project Snapshot`
      operationId: Retrieveasingleproject
      parameters:
        - name: orgId
          in: path
          description: The organization ID the project belongs to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 463c1ee5-31bc-428c-b451-b79a3270db08
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      deprecated: false
    put:
      tags:
        - Projects
      summary: Update a project
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `Edit Project`
      operationId: Updateaproject
      parameters:
        - name: orgId
          in: path
          description: The organization ID the project belongs to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 463c1ee5-31bc-428c-b451-b79a3270db08
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Updateaprojectrequest'
            example:
              owner:
                id: 1acd4d09-5602-4d04-9640-045fe928aaea
              branch: main
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      deprecated: false
    delete:
      tags:
        - Projects
      summary: Delete a project
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `Remove Project`
      operationId: Deleteaproject
      parameters:
        - name: orgId
          in: path
          description: The organization ID the project belongs to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 463c1ee5-31bc-428c-b451-b79a3270db08
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/project/{projectId}/deactivate:
    post:
      tags:
        - Projects
      summary: Deactivate a project
      description: >-
        Deactivating a project will:

        - Disable pull request tests for new vulnerabilities.

        - Disable Fix pull request from being opened for newly disclosed vulnerabilities.

        - Disable recurring tests - email alerts about newly disclosed vulnerabilities will be turned off.

        - If the repository has no other active projects, then remove any webhooks related to the project.

        #### Required permissions

        - `View Organization`

        - `View Project`

        - `Project Status`
      operationId: Deactivate
      parameters:
        - name: orgId
          in: path
          description: The organization ID the project belongs to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 463c1ee5-31bc-428c-b451-b79a3270db08
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/project/{projectId}/activate:
    post:
      tags:
        - Projects
      summary: Activate a project
      description: >-
        Activating a project will:

        - Add a repository webhook for supported integrations.

        - Enable pull request tests for new vulnerabilities.

        - Open Fix pull request for newly disclosed vulnerabilities.

        - Enable recurring tests, sending email alerts about newly disclosed vulnerabilities.

        #### Required permissions

        - `View Organization`

        - `View Project`

        - `Project Status`
      operationId: Activate
      parameters:
        - name: orgId
          in: path
          description: The organization ID the project belongs to. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 463c1ee5-31bc-428c-b451-b79a3270db08
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /org/{orgId}/project/{projectId}/aggregated-issues:
    post:
      tags:
        - Projects
      summary: List all Aggregated issues
      description: >-
        #### Required permissions

        - `View Project`

        - `View Project Snapshot`
      operationId: ListallAggregatedissues
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID to return issues for.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregatedprojectissuesfilters'
            example:
              includeDescription: false
              includeIntroducedThrough: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregatedprojectissues'
      deprecated: false
  /org/{orgId}/project/{projectId}/issue/{issueId}/paths:
    get:
      tags:
        - Projects
      summary: List all project issue paths
      description: >-
        #### Required permissions

        - `View Project`

        - `View Project Snapshot`
      operationId: Listallprojectissuepaths
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID for which to return issue paths.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
        - name: issueId
          in: path
          description: The issue ID for which to return issue paths.
          required: true
          style: simple
          schema:
            type: string
            example: SNYK-JS-LODASH-590103
        - name: snapshotId
          in: query
          description: The project snapshot ID for which to return issue paths. If set to `latest`, the most recent snapshot will be used. Use the "List all project snapshots" endpoint to find suitable values for this.
          style: form
          explode: true
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454553
        - name: perPage
          in: query
          description: The number of results to return per page (1 - 1000, inclusive).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 3
        - name: page
          in: query
          description: The page of results to return.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 2
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=1&perPage=3>; rel=prev, <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=3&perPage=3>; rel=next, <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=4&perPage=3>; rel=last
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issuepaths'
              example:
                snapshotId: 6d5813be-7e6d-4ab8-80c2-1e3e2a454553
                paths:
                  - - name: tap
                      version: 11.1.5
                    - name: nyc
                      version: 11.9.0
                    - name: istanbul-lib-instrument
                      version: 1.10.1
                    - name: babel-traverse
                      version: 6.26.0
                    - name: lodash
                      version: 4.17.10
                  - - name: tap
                      version: 11.1.5
                      fixVersion: 11.1.5
                    - name: nyc
                      version: 11.9.0
                    - name: istanbul-lib-instrument
                      version: 1.10.1
                    - name: babel-template
                      version: 6.26.0
                    - name: lodash
                      version: 4.17.10
                total: 10
                links:
                  prev: https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=1&perPage=3
                  next: https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=3&perPage=3
                  last: https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/issue/SNYK-JS-LODASH-590103?snapshotId=6d5813be-7e6d-4ab8-80c2-1e3e2a454553&page=4&perPage=3
      deprecated: false
  /org/{orgId}/project/{projectId}/history:
    post:
      tags:
        - Projects
      x-snyk-documentation:
        category: Snapshots
      summary: List all project snapshots
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `View Project Snapshot`
      operationId: Listallprojectsnapshots
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID to return snapshots for.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
        - name: perPage
          in: query
          description: The number of results to return (the default is 10, the maximum is 100).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: page
          in: query
          description: The offset from which to start returning results from.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 1
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Projectsnapshotsfilters'
            example:
              filters:
                imageId: sha256:a368cbcfa6789bc347345f6d78902afe138b62ff5373d2aa5f37120277c90a67
        required: true
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.snyk.io/v1/org/2d5c4d0c-c6d6-4658-a703-c2721c135b26/project/84dc70ad-eea9-468d-ae43-f0966ba12c99/history?page=3&perPage=100>; rel=last, <https://api.snyk.io/v1/org/2d5c4d0c-c6d6-4658-a703-c2721c135b26/project/84dc70ad-eea9-468d-ae43-f0966ba12c99/history?page=2&perPage=100>; rel=next
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projectsnapshots'
              example:
                snapshots:
                  - id: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
                    created: 2019-02-05T06:21:00.000Z
                    totalDependencies: 438
                    issueCounts:
                      vuln:
                        low: 8
                        medium: 15
                        high: 13
                        critical: 0
                      license:
                        low: 8
                        medium: 15
                        high: 13
                        critical: 0
                    imageId: sha256:a368cbcfa6789bc347345f6d78902afe138b62ff5373d2aa5f37120277c90a67
                    imageTag: latest
                    imagePlatform: linux/amd64
                    baseImageName: fedora:32
                    method: web-test
                total: 1
      deprecated: false
  /org/{orgId}/project/{projectId}/history/{snapshotId}/aggregated-issues:
    post:
      tags:
        - Projects
      x-snyk-documentation:
        category: Snapshots
      summary: List all project snapshot aggregated issues
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `View Project Snapshot`
      operationId: Listallprojectsnapshotaggregatedissues
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 2d5c4d0c-c6d6-4658-a703-c2721c135b26
        - name: projectId
          in: path
          description: The project ID.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
        - name: snapshotId
          in: path
          description: The snapshot ID. If set to latest, the most recent snapshot will be used.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454553
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregatedprojectissuesfilters'
            example:
              includeDescription: false
              includeIntroducedThrough: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregatedprojectissues'
      deprecated: false
  /org/{orgId}/project/{projectId}/history/{snapshotId}/issue/{issueId}/paths:
    get:
      tags:
        - Projects
      x-snyk-documentation:
        category: Snapshots
      summary: List all project snapshot issue paths
      description: >-
        #### Required permissions

        - `View Organization`

        - `View Project`

        - `View Project Snapshot`
      operationId: Listallprojectsnapshotissuepaths
      parameters:
        - name: orgId
          in: path
          description: The organization ID. The `API_KEY` must have access to this organization.
          required: true
          style: simple
          schema:
            type: string
            example: 4a18d42f-0706-4ad0-b127-24078731fbed
        - name: projectId
          in: path
          description: The project ID for which to return issue paths.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
        - name: snapshotId
          in: path
          description: The project snapshot ID for which to return issue paths. If set to `latest`, the most recent snapshot will be used. Use the "List all project snapshots" endpoint to find suitable values for this.
          required: true
          style: simple
          schema:
            type: string
            example: 6d5813be-7e6d-4ab8-80c2-1e3e2a454553
        - name: issueId
          in: path
          description: The issue ID for which to return issue paths.
          required: true
          style: simple
          schema:
            type: string
            example: SNYK-JS-LODASH-590103
        - name: perPage
          in: query
          description: The number of results to return per page (1 - 1000, inclusive).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 3
        - name: page
          in: query
          description: The page of results to return.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 2
      responses:
        '200':
          description: ''
          headers:
            Link:
              schema:
                type: string
              example: <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/history/6d5813be-7e6d-4ab8-80c2-1e3e2a454553/issue/SNYK-JS-LODASH-590103?page=1&perPage=3>; rel=prev, <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/history/6d5813be-7e6d-4ab8-80c2-1e3e2a454553/issue/SNYK-JS-LODASH-590103?page=3&perPage=3>; rel=next, <https://api.snyk.io/v1/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/6d5813be-7e6d-4ab8-80c2-1e3e2a454545/history/6d5813be-7e6d-4ab8-80c2-1e3e2a454553/issue/SNYK-JS-LODASH-590103?page=4&perPage=3>; rel=last
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issuepaths'
              example:
                snapshotId: 6d5813be-7e6d-4ab8-80c2-1e3e2a454553
                paths:
                  - - name: tap
                      version: 11.1.5
                    - name: nyc
                      version: 11.9.0
                    - name: istanbul-lib-instrument
                      version: 1.10.1
                    - name: babel-traverse
                      version: 6.26.0
                    - name: lodash
                      version: 4.17.10
[...]
